<!DOCTYPE html>
<html>
<head>

<title>Create Account</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<h2>Create New Account</h2>

<form method="POST">

<label>Account ID</label>
<input type="number" name="account_id" required>

<label>Customer Name</label>
<input type="text" name="name" required>

<label>Account Type</label>
<select name="account_type">

<option>Savings</option>
<option>Current</option>

</select>

<label>Initial Balance</label>
<input type="number" name="balance" required>

<button>Create Account</button>

</form>

<a href="/">Back to Home</a>

</body>
</html>